//! **************************************************************************
// Written by: Map P.20131013 on Sat Jan 30 17:51:26 2016
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "led" LOCATE = SITE "P134" LEVEL 1;
SCHEMATIC END;

