
NET "clk" LOC = P56;
NET "clk" IOSTANDARD = LVCMOS33;

NET "mojo_tx" LOC = P59;
NET "mojo_tx" IOSTANDARD = LVCMOS33;

NET "idpromnut_tx" LOC = P104;
NET "idpromnut_tx" IOSTANDARD = LVCMOS33;

NET "led0" LOC = P134;
NET "led0" IOSTANDARD = LVCMOS33;

NET "led1" LOC = P133;
NET "led1" IOSTANDARD = LVCMOS33;

NET "led2" LOC = P132;
NET "led2" IOSTANDARD = LVCMOS33;

NET "led3" LOC = P131;
NET "led3" IOSTANDARD = LVCMOS33;

NET "led4" LOC = P127;
NET "led4" IOSTANDARD = LVCMOS33;

NET "led5" LOC = P126;
NET "led5" IOSTANDARD = LVCMOS33;

NET "led6" LOC = P124;
NET "led6" IOSTANDARD = LVCMOS33;

NET "led7" LOC = P123;
NET "led7" IOSTANDARD = LVCMOS33;
