
NET "clk" LOC = P56;
NET "clk" IOSTANDARD = LVCMOS33;

NET "mojo_tx" LOC = P59;
NET "mojo_tx" IOSTANDARD = LVCMOS33;

NET "idpromnut_tx" LOC = P104;
NET "idpromnut_tx" IOSTANDARD = LVCMOS33;

NET "led" LOC = P134;
NET "led" IOSTANDARD = LVCMOS33;
